/* pokemon-card related */

.pokemon-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 680px;
  border-radius: 1rem;
  text-align: center;
  color: var(--text-white);
  box-shadow: var(--shadow-elevation-high);
  overflow: hidden;
  transition: all ease-in-out 0.25s;
  z-index: 99;
}

.pokemon-card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(img/pokeball-fade.png);
  background-size: 56%;
  background-repeat: no-repeat;
  background-position: top 7.5rem right -2.5rem;
  z-index: 0;
}

.card-header {
  height: 4rem;
}

.top-right-card {
  display: flex;
  justify-content: space-between;
  align-items: end;
  align-self: flex-start;
  width: 37.5%;
}

.heart-wrapper-card {
  cursor: pointer;
}

.heart-wrapper-card svg {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  filter: drop-shadow(0 2px 2px #00000026);
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.25rem;
}

.card-info::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(img/pattern-op-15.png);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: top 9rem left 2.5rem;
  z-index: 0;
}

span.card-name {
  font-family: 'Lato', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--text-white);
  letter-spacing: 1px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.125);
  margin: 0 0 0.65rem;
}

.card-number {
  /* align-self: flex-start; */
  width: fit-content;
  padding-right: 0.5rem;
  text-align: right;
  font-weight: 900;
  color: #00000026;
  margin-top: 0.85rem;
}

.card-type-btn {
  display: flex;
  gap: 0.5rem;
  margin: 0 1.25rem;
}

.card-type-btn button {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 0.35rem;
  padding: 0.4rem 0.8rem;
  border-radius: 16px;
  border: none;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--text-white);
  text-align: center;
  vertical-align: middle;
}

.card-img-container {
  position: absolute;
  z-index: 99;
  top: 6.5rem;
  width: 100%;
}

.card-img-container img {
  max-width: 66%;
}

.poke-stats {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 52.5%;
  padding: 1.25rem 1.125rem 0.75rem;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.925);
  border-radius: 1.5rem 1.5rem 0 0;
  z-index: 66;
  overflow: hidden;
}

.description {
  width: 100%;
  background: var(--text-greyblue-85);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: start;
  font-weight: 500;
  font-size: 1rem;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.025);
  margin-bottom: 0.5rem;
}

.stat-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2.75rem;
  margin-top: 1rem;
}

.stat-nav span {
  color: var(--text-greyblue-45);
  font-size: 0.875rem;
  font-weight: 600;
  background-color: transparent;
  border-bottom: solid 2px transparent;
  cursor: pointer;
  transition: all 0.125s ease-in-out;
}

.stat-nav span:hover {
  color: var(--text-greyblue-95);
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.125);
  border-bottom: solid 2px rgba(66, 90, 116, 0.85);
}

.active {
  color: var(--text-greyblue-95) !important;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.125) !important;
  border-bottom: solid 2px rgba(66, 90, 116, 0.85) !important ;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 1.125rem 0;

  border-top: rgba(66, 90, 116, 0.125) 1px solid;
  cursor: default;
}

.info-tab,
.stats-tab,
.moves-tab {
  height: 100%;
  width: 100%;
}

.info-tab table {
  border-spacing: 0px 12px;
  width: 100%;
  height: fit-content;
  margin-top: -1rem;
}

.info-tab td {
  width: max-content;
  margin-bottom: 0.5rem;
  vertical-align: text-top;
}

.info-tab tr {
  margin-bottom: 0.5rem;
}

.detail-label {
  color: var(--text-greyblue-85);
  font-weight: 700;
  font-size: 0.875rem;
  text-align: left;
  padding-right: 0.875rem;
}

.detail-value {
  text-align: left;
  color: var(--text-greyblue-85);
  font-weight: 500;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.125);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-footer svg {
  cursor: pointer;
  filter: brightness(150%) saturate(80%)
    drop-shadow(1px 2px 4px rgba(1, 11, 29, 0.35));
  transition: all 0.15s ease;
}

.card-footer svg:hover {
  filter: brightness(100%) saturate(100%)
    drop-shadow(1px 2px 4px rgba(1, 11, 29, 0.35));
}

.stats-tab {
  display: flex;
  flex-direction: column;
}

.stat-line {
  display: grid;
  grid-template-columns: 4.55rem 1.5rem 1fr;
  align-items: center;
  margin-bottom: 0.75rem;
  column-gap: 1.125rem;
}

.stat-line progress {
  appearance: none;
  height: 0.5rem;
  background: none;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  opacity: 0;
  animation: progress 0.35s ease-in-out forwards;
}

#attack {
  animation-delay: 15ms;
}

#spec-attack {
  animation-delay: 30ms;
}

#defense {
  animation-delay: 45ms;
}

#spec-defense {
  animation-delay: 60ms;
}

#speed {
  animation-delay: 75ms;
}

#total {
  animation-delay: 90ms;
}

@keyframes progress {
  0% {
    width: 0%;
    opacity: 0;
    background: transparent;
  }
  100% {
    opacity: 1;
  }
}

progress::-webkit-progress-value {
  background: var(--btn);
  border-radius: 0.25rem;
  box-shadow: var(--shadow-elevation-low);
}

progress::-moz-progress-bar {
  background: #00000015;
  border-radius: 0.25rem;
}

progress::-webkit-progress-bar {
  background: #00000015;
  border-radius: 0.25rem;
}

.stat-line label {
  color: var(--text-greyblue-85);
  font-weight: 700;
  font-size: 0.875rem;
  text-align: left;
}

.stat-line span {
  color: var(--text-greyblue-45);
  font-size: 0.8rem;
  font-weight: 900;
  align-self: flex-end;
  text-align: right;
}

.moves-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: max-content;
}

.moves-container span {
  width: 100%;
  text-align: left;
  color: var(--text-greyblue-85);
  font-size: 0.875rem;
  font-weight: 700;
  align-self: flex-end;
  padding-bottom: 0.25rem;
}

.moves-container button {
  width: fit-content;
  height: fit-content;
  background: var(--moves);
  padding: 0.4rem 0.8rem;
  border-radius: 16px;
  border: none;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--text-greyblue-65);
  text-align: center;
  vertical-align: middle;
  box-shadow: var(--shadow-elevation-low);
}

.evo-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.evo-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.evo-header {
  text-align: left !important;
}

.evo-id {
  font-weight: 900;
  color: rgba(0, 0, 0, 0.15);
}

.evo-stage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.25rem;
  border-radius: 1rem;
  margin-bottom: 2.125rem;
  padding: 0 1.25rem 0 6.75rem;
  text-align: left;
  color: var(--text-white);
  box-shadow: var(--shadow-elevation-low);
  cursor: default;
  transition: all ease-in-out 0.125s;
}

.evo-stage:hover {
  box-shadow: var(--shadow-elevation-medium);
}

.evo-stage:hover img {
  left: 8%;
}

.evo-name {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-white);
  letter-spacing: 1px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.125);
}

.evo-stage img {
  position: absolute;
  width: 65px;
  object-fit: contain;
  z-index: 99;
  left: 4%;
  transition: all ease-in-out 0.25s;
}

.evo-direction {
  display: flex;
  justify-content: end;
  height: 100%;
  width: fit-content;
  background: blue;
}
