:root {
  --shadow-color: 220deg 17% 52%;
  --shadow-elevation-low: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.45),
    0.4px 0.8px 0.9px -1.6px hsl(var(--shadow-color) / 0.38),
    1px 2px 2.3px -3.2px hsl(var(--shadow-color) / 0.31);
  --shadow-elevation-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.47),
    0.7px 1.4px 1.6px -1.1px hsl(var(--shadow-color) / 0.42),
    1.9px 3.9px 4.4px -2.2px hsl(var(--shadow-color) / 0.36),
    5px 10px 11.3px -3.2px hsl(var(--shadow-color) / 0.31);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.25),
    1.2px 2.3px 2.9px -0.4px hsl(var(--shadow-color) / 0.25),
    2.1px 4.2px 5.3px -0.7px hsl(var(--shadow-color) / 0.25),
    3.4px 6.8px 8.6px -1.1px hsl(var(--shadow-color) / 0.25),
    5.4px 10.8px 13.6px -1.4px hsl(var(--shadow-color) / 0.25),
    8.4px 16.8px 21.1px -1.8px hsl(var(--shadow-color) / 0.25),
    12.7px 25.5px 32px -2.1px hsl(var(--shadow-color) / 0.25),
    18.8px 37.5px 47.2px -2.5px hsl(var(--shadow-color) / 0.25);

  --site-bg-gradient: linear-gradient(#f5f7fb, #c7d1e4);

  --text-color: #f5f7fb;
  --btn: linear-gradient(155deg, #95b2e8, #667eab);
  --btn-hover: linear-gradient(155deg, #6193ee, #265abc);
  --btn-active: linear-gradient(155deg, #265abc, #265abc);

  --fire: linear-gradient(155deg, #fe8c90, #c43237);
  --bug: linear-gradient(155deg, #5cdab6, #209272);
  --electric: linear-gradient(155deg, #f3c246, #b48307);
  --water: linear-gradient(155deg, #a2cfff, #5298e2);
  --ground: linear-gradient(155deg, #cbc5bf, #817970);
  --rock: linear-gradient(155deg, #afb7bc, #6d6f70);
  --steel: linear-gradient(155deg, #c7d0d7, #8c959d);
  --fairy: linear-gradient(155deg, #edbde4, #dd87cb);
  --poison: linear-gradient(155deg, #b18bc0, #843b9e);
  --grass: linear-gradient(155deg, #aac3ab, #449547);
  --dragon: linear-gradient(155deg, #dcc0a2, #ffa44f);
  --psychic: linear-gradient(155deg, #f497e0, #d455b8);
  --flying: linear-gradient(155deg, #abdfff, #47b3f7);
  --fighting: linear-gradient(155deg, #e8a68a, #e34e0f);
  --ghost: linear-gradient(155deg, #777a98, #213143);
  --ice: linear-gradient(155deg, #c4d6eb, #9db8d7);
  --dark: linear-gradient(155deg, #7b7ba3, #2b1e50);
  --normal: linear-gradient(155deg, #c1ad94, #736655);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.d-none {
  display: none;
}

.test {
  background: linear-gradient(155deg, #f8545a, #c43237);
  background: linear-gradient(155deg, #81bdff, #5298e2);
  background: linear-gradient(155deg, #fed15d, #eab01f);
  background: linear-gradient(155deg, #bfbab3, #96918b);
  background: linear-gradient(155deg, #977959, #826445);
  background: linear-gradient(155deg, #9858b0, #843b9e);
  background: linear-gradient(155deg, #e18bd0, #dd55c2);
  background: linear-gradient(155deg, #83b985, #366c38);
  color: #ffffffa6;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: var(--site-bg-gradient);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}

h1 {
  letter-spacing: 0.035rem;
  color: #425a74;
  font-family: 'Pokemon Hollow', sans-serif;
  font-size: 3.5rem;
  text-shadow: 0 1px 8px #c7d1e4;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 180px;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1.25rem 0rem 1.25rem 1.25rem;
  text-align: center;
  color: var(--text-color);
  box-shadow: var(--shadow-elevation-medium);
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}

.pokemon-tile:hover {
  box-shadow: var(--shadow-elevation-high);
  z-index: 2;
}

.pokemon-tile::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(img/pokeball-op-15.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: top 3.5rem right -1rem;
  z-index: 0;
}

.pokemon-tile .img-container {
  display: flex;
  justify-content: end;
  align-items: end;
}

.pokemon-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  flex-grow: 50%;
  z-index: 10;
}

.pokemon-tile .number {
  width: 100%;
  padding-right: 0.5rem;
  text-align: right;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.15);
}

.pokemon-tile .name {
  font-size: 1.125rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.125);
}

.pokemon-tile button {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 0.35rem;
  padding: 0.4rem 0.8rem;
  border-radius: 16px;
  border: none;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  vertical-align: middle;
}

.pokemon-tile .img-container img {
  max-width: 100%;
  margin-top: 0.75rem;
  transition: all ease-in-out 0.125s;
}

.background-symbol {
  z-index: 0;
  right: 50px;
}

.background-symbol img {
  opacity: 0.15;
  aspect-ratio: 1 / 1;
  width: 160px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
}

.img-container {
  width: 57.5%;
}

.load-btn {
  background: var(--btn);
  margin-bottom: 0.35rem;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  vertical-align: middle;
  box-shadow: var(--shadow-elevation-medium);
  margin: 2rem 0;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.125);
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in-out;
}

.load-btn:hover {
  outline: solid var(--text-color) 0.5px;
}

.load-btn:active {
  outline: solid var(--text-color) 3px;
  color: white;
}

@keyframes spinnerFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.65;
  }
}

@keyframes spinnerFadeOut {
  from {
    opacity: 0.65;
  }
  to {
    opacity: 0;
  }
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 33;
  opacity: 0.65;
}

#spinner svg {
  width: clamp(15rem, 8.929vw + 12.143rem, 25rem);
  height: clamp(15rem, 8.929vw + 12.143rem, 25rem);
  filter: drop-shadow(0 4px 4px #00000035);
}

.spinning {
  animation: spinnerFadeIn 0.15s ease;
}

.no-spinning {
  animation: spinnerFadeOut 0.15s ease;
}

.to-top svg {
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  width: 48px;
  height: 48px;
  filter: invert(43%) sepia(69%) saturate(231%) hue-rotate(180deg)
    brightness(100%) contrast(95%)
    drop-shadow(1px 2px 4px rgba(1, 11, 29, 0.35));
  transition: all 0.125s ease-in-out;
}

.to-top svg:active {
  filter: invert(100%) sepia(50%) saturate(0%) hue-rotate(271deg)
    brightness(108%) contrast(101%)
    drop-shadow(1px 2px 4px rgba(1, 11, 29, 0.35));
}

.pokemon-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--grass);
  width: 320px;
  aspect-ratio: 1 / 2.25;
  border-radius: 1rem;
  text-align: center;
  color: var(--text-color);
  box-shadow: var(--shadow-elevation-high);
  overflow: hidden;
  transition: all ease-in-out 0.25s;
}

.pokemon-card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(img/pokeball-fade.png);
  background-size: 56%;
  background-repeat: no-repeat;
  background-position: top 9.5rem right -2.5rem;
  z-index: 0;
}

.card-header {
  height: 4rem;
}

.card-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 0 1.25rem;
}

.card-info::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(img/pattern-op-15.png);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: top 11rem left 2.5rem;
  z-index: 0;
}

span.card-name {
  font-family: 'Lato', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--text-color);
  letter-spacing: 1px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.125);
  margin: 0 0 0.65rem;
}

.card-number {
  width: 100%;
  padding-right: 0.5rem;
  text-align: right;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.15);
  margin-top: 0.85rem;
}

.card-type-btn {
  display: flex;
  gap: 0.5rem;
  margin: 0 1.25rem;
}

.card-type-btn button {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 0.35rem;
  padding: 0.4rem 0.8rem;
  border-radius: 16px;
  border: none;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  vertical-align: middle;
}

.card-img-container {
  position: absolute;
  z-index: 99;
  top: 8.5rem;
  width: 100%;
}

.card-img-container img {
  max-width: 66%;
}

.poke-stats {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 60%;
  padding: 1.25rem 1.125rem 0.75rem;
  flex-grow: 1;
  width: 100%;
  height: 85.5%;
  background-color: rgba(255, 255, 255, 0.925);
  border-radius: 1.5rem 1.5rem 0 0;
  z-index: 66;
  overflow: hidden;
}

.description {
  width: 100%;
  background: var(--grass);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: start;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.025);
}

.stat-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2.75rem;
  margin-top: 1rem;
}

.stat-nav a {
  color: rgba(66, 90, 116, 0.45);
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border-bottom: solid 2px transparent;
  transition: all 0.125s ease-in-out;
}

.stat-nav a:hover {
  color: rgba(66, 90, 116, 0.95);
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.125);
  border-bottom: solid 2px rgba(66, 90, 116, 0.85);
}

.info-tab {
  color: black;
  height: 100%;
}

.info-tab table {
  padding-top: 0.5rem;
  border-spacing: 0px 12px;
  width: 100%;
  height: fit-content;
  border-top: rgba(66, 90, 116, 0.125) 1px solid;
}

.info-tab td {
  width: max-content;
  margin-bottom: 0.5rem;
  vertical-align: text-top;
}

.info-tab tr {
  margin-bottom: 0.5rem;
}

.detail-label {
  color: rgba(66, 90, 116, 0.65);
  font-size: 1rem;
  text-align: left;
  font-weight: 500;
}

.detail-value {
  text-align: left;
  color: rgba(66, 90, 116, 0.85);
  font-weight: 500;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.125);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-footer svg {
  cursor: pointer;
  filter: brightness(150%) saturate(80%)
    drop-shadow(1px 2px 4px rgba(1, 11, 29, 0.35));
  transition: all 0.15s ease-in-out;
}

.card-footer svg:hover {
  filter: brightness(100%) saturate(100%)
    drop-shadow(1px 2px 4px rgba(1, 11, 29, 0.35));
}
