:root {
  --shadow-color: 220deg 17% 52%;
  --shadow-elevation-low: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.45),
    0.4px 0.8px 0.9px -1.6px hsl(var(--shadow-color) / 0.38),
    1px 2px 2.3px -3.2px hsl(var(--shadow-color) / 0.31);
  --shadow-elevation-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.47),
    0.7px 1.4px 1.6px -1.1px hsl(var(--shadow-color) / 0.42),
    1.9px 3.9px 4.4px -2.2px hsl(var(--shadow-color) / 0.36),
    5px 10px 11.3px -3.2px hsl(var(--shadow-color) / 0.31);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.25),
    1.2px 2.3px 2.9px -0.4px hsl(var(--shadow-color) / 0.25),
    2.1px 4.2px 5.3px -0.7px hsl(var(--shadow-color) / 0.25),
    3.4px 6.8px 8.6px -1.1px hsl(var(--shadow-color) / 0.25),
    5.4px 10.8px 13.6px -1.4px hsl(var(--shadow-color) / 0.25),
    8.4px 16.8px 21.1px -1.8px hsl(var(--shadow-color) / 0.25),
    12.7px 25.5px 32px -2.1px hsl(var(--shadow-color) / 0.25),
    18.8px 37.5px 47.2px -2.5px hsl(var(--shadow-color) / 0.25);

  --site-bg-gradient: linear-gradient(#f5f7fb, #c7d1e4);

  --text-color: #f5f7fb;

  --fire: linear-gradient(155deg, #f8545a, #c43237);
  --grass: linear-gradient(155deg, #5cdab6, #209272);
  --electric: linear-gradient(155deg, #fed15d, #eab01f);
  --water: linear-gradient(155deg, #81bdff, #5298e2);
  --ground: linear-gradient(155deg, #977959, #826445);
  --rock: linear-gradient(155deg, #dfe7ed, #c7d2db);
  --fairy: linear-gradient(155deg, #e18bd0, #dd55c2);
  --poison: linear-gradient(155deg, #9858b0, #843b9e);
  --bug: linear-gradient(155deg, #83b985, #56a158);
  --dragon: linear-gradient(155deg, #ffbe81, #f39135);
  --psychic: linear-gradient(155deg, #ff62dd, #ec21c0);
  --flying: linear-gradient(155deg, #abdfff, #47b3f7);
  --flying: linear-gradient(155deg, #f37944, #e34e0f);
  --normal: linear-gradient(155deg, #bfbab3, #96918b);
}

* {
  box-sizing: border-box;
}

.test {
  background: linear-gradient(155deg, #f8545a, #c43237);
  background: linear-gradient(155deg, #81bdff, #5298e2);
  background: linear-gradient(155deg, #fed15d, #eab01f);
  background: linear-gradient(155deg, #bfbab3, #96918b);
  background: linear-gradient(155deg, #977959, #826445);
  background: linear-gradient(155deg, #9858b0, #843b9e);
  background: linear-gradient(155deg, #e18bd0, #dd55c2);
  background: linear-gradient(155deg, #83b985, #56a158);
  color: #ffffff26;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: var(--site-bg-gradient);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}

h1 {
  letter-spacing: 0.035rem;
  color: #061423;
  font-family: 'Pokemon Hollow', sans-serif;
  font-size: 3.5rem;
  text-shadow: 0 1px 8px #c7d1e4;
}

h3 {
  margin: 0 0 0.65rem;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 180px;
  background: var(--grass);
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1.25rem 0rem 1.25rem 1.25rem;
  text-align: center;
  color: var(--text-color);
  box-shadow: var(--shadow-elevation-medium);
  overflow: hidden;
  transition: all ease-in-out 0.25s;
}

.pokemon-tile:hover {
  box-shadow: var(--shadow-elevation-high);
  z-index: 2;
}

.pokemon-tile::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(img/pokeball-op-15.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: top 3.5rem right -1rem;
  z-index: 0;
}

.pokemon-tile .img-container {
  display: flex;
  justify-content: end;
  align-items: end;
}

.pokemon-tile .number {
  width: 100%;
  padding-right: 0.5rem;
  text-align: right;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.15);
}

.pokemon-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  flex-grow: 50%;
  z-index: 10;
}

.pokemon-tile .name {
  font-size: 1.125rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.pokemon-tile button {
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 0.35rem;
  padding: 0.4rem 0.8rem;
  border-radius: 16px;
  border: none;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  vertical-align: middle;
  box-shadow: var(--type-pledge-shadow);
}

.pokemon-tile .img-container img {
  max-width: 87.5%;
  /* margin-top: 1.5rem; */
  transition: all ease-in-out 0.125s;
}

.background-symbol {
  z-index: 0;
  right: 50px;
}

.background-symbol img {
  opacity: 0.15;
  aspect-ratio: 1 / 1;
  width: 160px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.info,
.pokemon .img-container {
  width: 50%;
}
